body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    z-index: 1000;
}

.hero {
    height: 35vh;
    background: url('https://source.unsplash.com/random/1600x900') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    margin: 0;
    font-size: 4em;
}

.hero p {
    margin: 10px 0 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 80px 20px;
    margin-top: 60px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

#about, #projects, #skills, #contact {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skills-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-list li {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
}

a {
    transition: color 0.5s;
}

a:hover {
    color: #ff6347;
}
